body {
    margin: 0;
    padding: 30px;
    font-family: sans-serif;
    text-align: justify;
}

p {
    margin: 10px;
    margin-top: 20px;
}

div.introducao>p.arquivo-externo {
    font-size: 18px;
}